.accordion-item{
    border: 1px solid black;
}

.accordion-button:not(.collapsed){
    color: white;
    background: black;
}


.accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
}

.accordion-button:focus{
    box-shadow: inherit;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

td, th {
    text-align: center;
}

.carousel img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}
