{%extends 'base.html'%}
{% load static %}

{%block content%}
{% if u_id == -1 %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="email" placeholder="Email" required>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-secondary">Login</button>
</form>
</div>
{% else %}
<h1 class="display-5">Store</h1>
{% if items %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for item in items %}
<div class="col">
      <div class="card border-secondary mb-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h5 class="card-title">{{item.1}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>{{item.4}} remaining</h6></li>
        <li class="list-group-item"><p class="card-text">{{item.2}}</p></li>
        <li class="list-group-item"><a href="#" class="btn btn-secondary">Buy</a></li>
      </ul>
    </div>
</div>
{% endfor %}
</div>
{% endif %}
{% endif %}
{%endblock%}